<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>弹幕姬</title>
    <style>
        *,
        *::before,
        *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #app{
            background: #e4e4e4;
            overflow-y: auto;
            max-width: 768px;
            width: 100%;
            height: 100vh;
        }

        .danmu-list {
            width: 100%;
        }
        .danmu-item{
            display: flex;
            position: relative;
            font-size: 13px;
            padding: 4px 24px;
            overflow: hidden;
        }
        .danmu-item-wrapper{
            display: flex;
        }
        .chip{
            display: flex;
            font-size: 14px;
            margin-right: 16px;
        }
        .avatar{
            width: 24px;
            margin-right: 16px;
            img{
                display: block;
                max-width: 100%;
            }
        } 
    </style>
</head>

<body>
    <div id="app">
        <div x-data="danmuList()" id="danmu-list" class="danmu-list">
            <template x-data x-for="(item,index) in dataList">
                <div class="danmu-item">
                    <template x-data x-if="item.type=='danmu'">
                        <div class="danmu-item-wrapper">
                            <div class="avatar">
                                <img :src="item.user.avatar" alt="avatar">
                            </div>
                            <div class="chip">
                                <div x-data class="username" x-text="item.user.username"></div>
                                说
                            </div>
                            <div x-text="item.msg"></div>
                        </div>
                    </template>
                    <template x-data x-if="item.type=='entry'">
                        <div class="danmu-item-wrapper">
                            <div class="avatar">
                                <img :src="item.user.avatar" alt="avatar">
                            </div>
                            <div class="chip">
                                <div x-data class="username" x-text="item.user.username"></div>
                                进入直播间
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>
    
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script>
        localStorage.debug = '*'
        const danmuList = function () {
            return {
                dataList:[],
                init () {
                    const socket = io()
                    socket.on("connect", () => {
                        console.log('连接成功')
                    })
                    socket.on("msg", (data) => {
                        console.log(data)
                        if (data.type == 'danmu'||data.type=='entry') {
                            if(this.dataList.length>=40){
                                this.dataList.shift()
                            }
                            this.dataList.push(data)
                        }
                    })
                }
            }
        }

        window.onload = roll(25);

        function roll(t) {
            var ul1 = document.getElementById("danmu-list");
            var ulbox = document.getElementById("app");
            ulbox.scrollTop = 0; // 开始无滚动时设为0
            var timer = setInterval(rollStart, t); // 设置定时器，参数t用在这为间隔时间（单位毫秒），参数t越小，滚动速度越快
            // 鼠标移入div时暂停滚动
            ulbox.onmouseover = function () {
                clearInterval(timer);
            }
            // 鼠标移出div后继续滚动
            ulbox.onmouseout = function () {
                timer = setInterval(rollStart, t);
            }
        }

        // 开始滚动函数
        function rollStart() {
            // 上面声明的DOM对象为局部对象需要再次声明
            var ul1 = document.getElementById("danmu-list");
            var ulbox = document.getElementById("app");
            // 正常滚动不断给scrollTop的值+1,当滚动高度大于列表内容高度时恢复为0
            if (ulbox.scrollTop >= ul1.scrollHeight) {
                //ulbox.scrollTop = 0;
            } else {
                ulbox.scrollTop++;
            }
        }

    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.13.0/cdn.min.js" defer></script>
</body>

</html>