<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bilibb</title>
</head>
<body>
    项目已成功运行,请通过前端访问
</body>
</html>