<!DOCTYPE html>
<div class="pear-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-col">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-row layui-col-space16">
                        <div class="layui-col layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="roomId" value="" placeholder="房间号" class="layui-input"
                                    lay-affix="clear" lay-verify="required|number">
                            </div>
                        </div>
                        <div class="layui-col layui-col-md4">
                            <div style="height: 38px;line-height: 38px;">建立额外的连接</div>
                        </div>
                        <div class="layui-btn-container layui-col layui-col-xs12">
                            <button class="layui-btn" lay-submit lay-filter="add">新增</button>
                        </div>
                    </form>
                    <table id="connect-table" lay-filter="connect-table">
                    </table>
                    <template id="connect-table-template-opera">
                         <div>
                            <button class="layui-btn layui-btn-sm" lay-filter="close">关闭连接</button>
                         </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="submit-add">
<div>
    1
</div>
</template>
<script>
    layui.use([ 'form', 'table','layer'], function () {
        var table=layui.table,
            form=layui.form,
            layer=layui.layer,
            $=layui.jquery;
        form.render()
        table.render({
            elem: "#connect-table",
            url: "/api/v1/connect/list",
            lineStyle: 'height:100px',
            cols:[[
                { type: 'checkbox', fixed: 'flex' },
                { field: 'roomId',width:80,title:'房间号',},
                { field: 'title',title:'标题',templet:function(d){return `${d.Room.title}`}},
                { field: 'tags',title:'标签'},
                { field: 'keyframe',width:100,title:'关键帧',templet:function(d){return`<div><img alt="" src="${d.keyframe}"></div>`}},
                { field: 'userCover',width:100,title:'封面',templet:function(d){return`<div><img alt="" src="${d.userCover}"></div>`}},
                { width: 80, title: '操作', templet: '#connect-table-template-opera' }
            ]]
        })
        table.on('tool(connect-table)',function(obj){
            var data=obj.data
            layer.confirm('确定关闭链接吗', {icon: 3}, function(){
                fetch('/api/v1/connect/remove/'+data.roomId,{
                    headers:{
                        'Content-Type':'application/json'
                    },
                    method:'POST',
                }).then(res=>res.json())
                .then(res=>{
                    if(res.code==0){
                        layer.msg("成功",function(){
                            PearAdmin.refresh()
                        })
                    }else{
                        layer.msg(res.msg)
                    }
                })
            });
        })
        form.on('submit(add)',function(data){
            layer.confirm('确定建立连接吗', {icon: 3}, function(){
                fetch('/api/v1/connect/add',{
                    headers:{
                        'Content-Type':'application/json'
                    },
                    method:'POST',
                    body:JSON.stringify(data.field)
                }).then(res=>res.json())
                .then(res=>{
                    if(res.code==0){
                        layer.msg("成功",function(){
                            PearAdmin.refresh()
                        })
                    }else{
                        layer.msg(res.msg)
                    }
                })
            });
                return false
            })
    })
</script>