<!DOCTYPE html>
<div class="pear-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-card">
            <div class="layui-card-body">
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    fetch('/api/v1/connect/list').then(res=>res.json()).then(res=>{
        console.log(res.data)
    })
</script>