<!DOCTYPE html>
<div class="pear-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-col">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-row layui-col-space16">
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="roomId" value="" placeholder="房间号" class="layui-input"
                                    lay-affix="clear">
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="title" value="" placeholder="标题" class="layui-input"
                                    lay-affix="clear">
                            </div>
                        </div>
                        <div class="layui-btn-container layui-col-xs12">
                            <button class="layui-btn" lay-submit lay-filter="users-table-search">Search</button>
                            <button type="reset" class="layui-btn layui-btn-primary">Clear</button>
                        </div>
                    </form>
                    <table id="room-table" lay-filter="room-table">
                    </table>
                    <template id="room-table-template-opera">
                        <div>
                            <button class="layui-btn layui-btn-sm" lay-event="detail">详细</button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'table'], function () {
        var form=layui.form,
            table=layui.table

        form.render()
        table.render({
            elem: "#room-table",
            url: "/api/v1/room/list",
            page: true,
            toolbar: true,
            lineStyle: 'height:100px',
            cols:[[
                { type: 'checkbox', fixed: 'flex' },
                { field:'roomId',width:80,title:'房间号'},
                { field:'title',title:'标题',},
                { field:'description',title:'简介'},
                { field:'areaName',width:100,title:'分区'},
                { field:'userCover',width:120,title:'封面',templet:function(d){return`<div><img style="width:100px;height:52px;" alt="" src="${d.userCover}"></div>`}},
                { width: 80, title: '操作', templet: '#room-table-template-opera' }
            ]]
        })

        table.on('tool(room-table)', function (obj) {
            var data = obj.data; // 得到当前行数据
            var dataCache = obj.dataCache; // 得到当前行缓存数据，包含特定字段 --- 2.8.8+
            var layEvent = obj.event; // 获得元素对应的 lay-event 属性值
            if (layEvent == 'detail') {
                layer.open({
                    type: 2,
                    title: ' ',
                    closeBtn: 1,
                    area: ['100%', '100%'],
                    content: `/api/view/danmu/list/${data.roomId}`
                })
            }
        })

        form.on('submit(add)',function(data){
            return false
        })
    })
</script>