<!DOCTYPE html>
<div class="pear-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-col">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-row layui-col-space16">
                        <div class="layui-col-md4">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                </div>
                                <input type="text" name="uname" value="" placeholder="用户名" class="layui-input"
                                    lay-affix="clear">
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <select name="sex">
                                <option value="">请选择</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                                <option value="保密">保密</option>
                            </select>
                        </div>
                        <div class="layui-btn-container layui-col-xs12">
                            <button class="layui-btn" lay-submit lay-filter="users-table-search">Search</button>
                            <button type="reset" class="layui-btn layui-btn-primary">Clear</button>
                        </div>
                    </form>
                    <table id="users-table" lay-filter="users-table"></table>
                    <template id="users-table-template-avatar">
                        <div style="width: 100px;height: 100px;">
                            <img style="object-fit: cover;width: 100%;height: 100%;"  src="{{d.fa??'/avatar.webp'}}"
                                alt="头像">
                        </div>
                    </template>
                    <template id="users-table-template-opera">
                        <div>
                            <button class="layui-btn layui-btn-sm" lay-event="detail">详细</button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'table'], function () {
        var $ = layui.jquery,
            table = layui.table,
            form = layui.form,
            layer = layui.layer

        form.render()
        table.render({
            elem: "#users-table",
            url: "/api/v1/user/list",
            page: true,
            toolbar: true,
            lineStyle: 'height:100px',
            cols: [[
                { type: 'checkbox', fixed: 'flex' },
                { field: 'uid',  title: 'uid' },
                { field: 'uname', title: '用户名' },
                { field: 'fa', width: 130, title: '头像', templet: '#users-table-template-avatar' },
                { field: 'sex', width: 60, title: '性别' },
                { field: 'fansNum', width: 80, title: '粉丝数' },
                { field: '_count.Speak', width: 80, title: '发言',templet:function(d){return d._count.Speak} },
                { width: 80, title: '操作', templet: '#users-table-template-opera' }
            ]]
        })
        table.on('tool(users-table)', function (obj) {
            var data = obj.data; // 得到当前行数据
            var dataCache = obj.dataCache; // 得到当前行缓存数据，包含特定字段 --- 2.8.8+
            var layEvent = obj.event; // 获得元素对应的 lay-event 属性值
            if (layEvent == 'detail') {
                layer.open({
                    type: 2,
                    title: ' ',
                    closeBtn: 1,
                    area: ['100%', '100%'],
                    content: `/api/v1/user/info/${data.uid}`
                })
            }
        })
        form.on('submit(users-table-search)', function (data) {
            var field = data.field
            table.reload('users-table', {
                page: {
                    curr: 1
                },
                where: field
            })
            layer.msg('搜索成功')
            return false
        })

    })
</script>