<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab" lay-filter="test-handle" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="11">积分设置</li>
                <li lay-id="22">积分明细</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">内容-1</div>
                <div class="layui-tab-item">内容-2</div>
            </div>
        </div>
        
    </div>
</div>
<script>
    layui.use(function(){
        

    })
</script>