<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" style="display: flex;">
            <div class="layui-form-item layui-col-xs3">
                <label for="phoneNum" class="layui-form-label">昵称/手机号</label>
                <div class="layui-input-block">
                    <input type="text" id="phoneNum" name="phoneNum" placeholder="请输入" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-col-xs3">
                <label for="grade" class="layui-form-label">会员等级</label>
                <div class="layui-input-block">
                    <select id="grade" name="grade">
                        <option value="">请选择</option>
                        <option value="normal">普通会员</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs3">
                <label for="registDate" class="layui-form-label">注册时间</label>
                <div class="layui-input-block">
                    <input type="text" id="registDate" name="registDate" placeholder="请输入" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-col-xs3">
                <button class="layui-btn " style="margin-left: 5px;" lay-submit lay-filter="query">查询</button>
            </div>
        </form>
        <div class="layui-row">
            <table width="100%" border="1" id="vip-table">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>昵称</th>
                        <th>微信头像</th>
                        <th>性别</th>
                        <th>会员等级</th>
                        <th>余额</th>
                        <th>积分</th>
                        <th>手机号</th>
                        <th>生日</th>
                        <th>注册日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            1
                        </td>
                        <td>
                            <button class="layui-btn layui-btn-primary layui-border layui-btn-xs">
                                <span>编辑</span>
                            </button>
                            <button class="layui-btn layui-btn-primary layui-border layui-btn-xs">
                                <span>删除</span>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    layui.use(function () {
        var form = layui.form,
            laydate = layui.laydate;
        form.render()
        form.on('submit(query)', function (data) {
            console.log(data.field)
            return false
        })
        laydate.render({
            elem:'#registDate'
        })
    })
</script>