<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <title></title>
    </head>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">部门名称</label>
                <div class="layui-input-inline">
                    <input class="layui-input" name="deptName" placeholder="" type="text">
                </div>
                <button type="button" class="layui-btn layui-btn-md layui-btn-primary" lay-filter="dept-query" lay-submit>
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button class="layui-btn layui-btn-md" type="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="dept-table" lay-filter="dept-table"></table>
    </div>
</div>

<script id="dept-toolbar" type="text/html">
    <button sec:authorize="hasPermission('/system/dept/add','sys:dept:add')"
            class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>

<script id="dept-bar" type="text/html">
    <button sec:authorize="hasPermission('/system/dept/edit','sys:dept:edit')"
            class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button sec:authorize="hasPermission('/system/dept/remove','sys:dept:remove')"
            class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script id="dept-status" type="text/html">
    <input type="checkbox" name="enable" value="{{d.deptId}}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="dept-enable" {{ d.status == '1' ? 'checked' : '' }}>
</script>

</body>


<script>
    layui.use(['table', 'form', 'jquery', 'treeTable', 'popup','customUtil'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let treeTable = layui.treeTable;
        let popup = layui.popup;
        let customUtil = layui.customUtil;


        treeTable.render({
            skin: 'line',
            method: 'post',
            toolbar: '#dept-toolbar',
            elem: '#dept-table',
            url: '/api/system/dept',
            page: false,
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
                title: '刷新'
            }, 'filter', 'print', 'exports'],
            parseData:function(res){
                console.log(res)
                const parsedData=customUtil.handleTree(res.data)
                console.log(parsedData)
                return{
                    ...res,
                    data:parsedData
                }
            },
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'name', minWidth: 200, title: '部门名称'},
                    {field: 'phone', title: '联系方式'},
                    {field: 'email', title: '邮箱'},
                    {field: 'status', title: '状态', templet: '#dept-status'},
                    {field: 'sort', title: '排序', width: 100},
                    {title: '操作', templet: '#dept-bar', width: 120, align: 'center'}
                ]
            ],
            tree:{

            }
        });

        
    })
</script>
</html>