<!DOCTYPE html>
<div class="pear-container layui-col-space10">
    <div class="layui-col">
        <div class="layui-row" style="margin-bottom: 5px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form action="" class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">角色名称</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="deptName" placeholder="" type="text">
                            </div>
                            <label class="layui-form-label">角色标识</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="phone" placeholder="" type="text">
                            </div>
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select>
                                    <option>请选择</option>
                                    <option value="0">已禁用</option>
                                    <option value="1">正常</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn layui-btn-md layui-btn-primary"
                                lay-filter="dept-query" lay-submit>
                                <i class="layui-icon layui-icon-search"></i>
                                查询
                            </button>
                            <button class="layui-btn layui-btn-md" type="reset">
                                <i class="layui-icon layui-icon-refresh"></i>
                                重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-row" style="margin-bottom: 5px;">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="user-list-table"></table>
                </div>
            </div>
        </div>

    </div>

    <template id="table-opera">
        <div>
            <button type="button" >修改</button>
            <button type="button" >删除</button>
            <button type="button" >权限</button>

        </div>
    </template>


    <script>
        layui.use(['form', 'table',  'layer'], function () {
            var form = layui.form,
                table = layui.table,
                layer = layui.layer

            form.render()
            
            table.render({
                elem: '#user-list-table',
                method: "post",
                url: '/api/system/role',
                cols: [[
                    { type: 'checkbox', fixed: 'flex' },
                    { field: 'id', title: '角色编号' },
                    { field: 'name', title: '角色名称' },
                    { field: 'code', title: '角色标识' },
                    { field: 'status', title: '状态' },
                    { field: 'remark', title: '备注' },
                    { field: 'createTime', title: '创建时间' },
                    { templet: '#table-opera' }
                ]]
            })
        })
    </script>
</div>