<!DOCTYPE html>
<div class="pear-container layui-col-space10">
    <div class="layui-col-sm3">
        <div class="layui-card">
            <div class="layui-card-body">
                <div id="dept-tree"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-sm9">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form action="" class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名称</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="deptName" placeholder="" type="text">
                            </div>
                            <label class="layui-form-label">手机号码</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="phone" placeholder="" type="text">
                            </div>
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select>
                                    <option>请选择</option>
                                    <option value="0">已禁用</option>
                                    <option value="1">正常</option>
                                </select>
                            </div>
                            <button type="button" class="layui-btn layui-btn-md layui-btn-primary"
                                lay-filter="dept-query" lay-submit>
                                <i class="layui-icon layui-icon-search"></i>
                                查询
                            </button>
                            <button class="layui-btn layui-btn-md" type="reset">
                                <i class="layui-icon layui-icon-refresh"></i>
                                重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table id="user-list-table"></table>
                </div>
            </div>
        </div>

    </div>

    <template id="table-opera"></template>


    <script>
        layui.use(['form', 'table', 'tree', 'layer', 'customUtil'], function () {
            var form = layui.form,
                table = layui.table,
                tree = layui.tree,
                layer = layui.layer,
                customUtil = layui.customUtil;

            form.render()
            fetch('/api/system/dept', {
                method: "POST"
            }).then(res => res.json())
                .then(res => {
                    console.log(res)
                    const parsedData = customUtil.handleTree(res.data)
                    console.log(parsedData)
                    tree.render({
                        elem: '#dept-tree',
                        data: parsedData,
                        id: 'demo-id-1',
                        customName: {
                            title: 'name'
                        }
                    })
                })

            table.render({
                elem: '#user-list-table',
                method: "post",
                url: '/api/system/user',
                cols: [[
                    { type: 'checkbox', fixed: 'flex' },
                    { field: 'id', title: '用户编号' },
                    { field: 'avatar', title: '用户头像' },
                    { field: 'username', title: '用户名称' },
                    { field: 'nickname', title: '用户昵称' },
                    { field: 'sex', title: '性别' },
                    { field: 'dept.name', title: '部门' },
                    { field: 'phone', title: '手机号' },
                    { field: 'status', title: '状态' },
                    { field: 'createTime', title: '创建时间' },
                    { templet: '#table-opera' }
                ]]
            })
        })
    </script>
</div>